*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    
 }
button:focus{outline: none; }
 body{
     background-image: url(/assets/space\ adventur.webp);
    background-size: cover;
  }

#foo{display: none;}

.cajita-login{
    display: flex;flex-direction: row; 
    width: 56em;height: 28em; margin: auto;margin-top: 5%;
    border-radius: 10px;
}

.division1{
    color: rgb(255, 255, 255); width: 50%;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 20px 0px 0px 20px;
    display: flex;flex-direction: column;
    justify-content: center;justify-content: space-evenly;
}

.division1 p{ text-align: center;
}

.logReg{
    font-size: 2.2em;font-weight: bolder;margin-top: 5%;
    color: rgb(1, 1, 51);text-align: center;
}

.division2{ 
    border-radius : 0px 10px 10px 0px;
    width: 50%;
    background-color: rgb(255, 255, 255); 

} 
#botonReg{border: none;background-color: inherit; }
#botonReg:hover{cursor: pointer;}
#nametag{display: none;}
.p1{font-size: 2em; }
.p2{font-size: 1em;}

label,
input,
textarea {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;   
}

li {
    padding: 0.3em;
    width: 80%;margin: auto;

}
span {
    font-weight: 700;
    color: #102a43;
    line-height: 35px;
    line-height: 2.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
input[type="submit"] {
    background: #102a43;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1.3em;
}
#submitbtn:hover{cursor: pointer;
background-color: #0c1e30;}


.mediaLogTxt{
   
    display: flex;flex-direction: column;
}
.mediaLogTxt p {
margin-top: 5%;margin-bottom: 5%;
    font-size: 1em;text-align: center; }
.logSocial{display: flex;justify-content: space-evenly;}
.logSocial img{
    width: 3em;
}


.container {
    height: 100%; 

}
form {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;justify-content: space-around;

    border-radius: 3px;
    overflow: hidden;
}



input,
textarea {
    width: 100%;
    background: transparent;
    margin: auto;
    padding: 9px 20px;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 0, 0, 0);
    color: #102a43;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1rem;
    
}
input:focus {
    outline: none;
  }
  
.tester{
    display:flex;
    flex-direction:row;

}
.tester input {flex-grow: 2;}
.tester button{
    background-color: inherit;border: none;border-bottom: black 2px solid;
    color: #102a43;
 }
.tester img{ 
    width: 1em;height: 1em;position: relative; left: 18px;top: 14px;}
/* celular */
@media only screen and (max-width: 900px) {
    body{
        background-image: url(/assets/space\ adventur.webp);
        background-repeat:no-repeat;
        background-size: 40em 30em;background-position:top;
    background-color: rgb(255, 255, 255); 
        
}
    .cajita-login{
        margin: 0%;
        display: flex;flex-direction: column;
        width: 100%; 
        height: 100vh;

    }
    .division1{
        height: 50%;
        background-size: cover;width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .division2{ 
        height: 70%;
        width: 100%;
        border-radius: 1em;
    } 

    .logReg{
        font-size: 2.2em;font-weight: bolder;
        color: rgb(0, 0, 0);
    }
    .p1{display: none;}
    .p2{display: none;}

   
    @keyframes prueba{
   100%{height:120%;}
        

}
       

        input,
        textarea {
            font-size: 1rem;
            line-height: 3.5rem;
            color: rgb(0, 0, 0);
        }
form{border-radius: 40px 40px 0px 0px;}
form,ul{ 
    background-color:rgb(237, 244, 250);
   
}
.tester img{ 
    width: 1.2em;height: 1.2em;position: relative; left: 18px;top: 27px;}

.botonReg{font-size: 1em; text-align: center;
    margin-top: 1em;margin-bottom: 1.5em;
    width: 100%;

}

#submitbtn{
    width: 60%;padding: 1px;
    background-color: rgb(250, 189, 245);border: none;}
#submitbtn:hover{background-color: rgb(241, 117, 231);}
}

